body{
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADERS */
.header_main{
    color: #fff;
    font-weight: normal;
    font-size: 50px;
}

/* LINKS */
.download_link{
    color: aquamarine;
    font-size: 16px;
}
/*  */